/* {
  outline: 1px solid rgba(128, 128, 0, 0.2);
}*/

:root {
  --logo-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --brand-color: #2196f3;
  --main-color: #212121; /* txt, hdr, btn */
  --main-gray-color: #757575; /* p */
  --bgr-dark-color: #2f303a; /*hero, footer*/
  --bgr-light-color: #ffffff; /*main bgr, cards bgr*/
  --bgr-gray-color: #f5f4fa; /* team bgr, button bgr*/
  --main-light-color: #ffffff; /* main bg, active txt, logo ftr */
  --dark-color: #000000; /* logo hdr*/
  --card-border-color: #eeeeee;
  --icon-color: #afb1b8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-icons-color: rgba(255, 255, 255, 0.1);
  --header-border-color: #ececec;
  --specialization-description-color: rgba(47, 48, 58, 0.8);
  --overlay-card-color: rgba(33, 150, 243, 0.9);
  --btn-modal-close: rgba(0, 0, 0, 0.1);
  --modal-overlay-color: rgba(0, 0, 0, 0.2);
  --hero-gradient: linear-gradient(
    to bottom,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
  --btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --hero-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --portfolio-exemple-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --big-padding: 94px;
  --list-gap: 30px;
}
body {
  background-color: var(--bgr-light-color);
  color: var(--main-color);
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  flex-wrap: wrap;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
}

.logo-studio-white {
  color: var(--main-light-color);
}
.logo-studio-black {
  color: var(--dark-color);
}
.logo:focus {
  outline-color: var(--brand-color);
}

.section {
  padding-top: var(--big-padding);
  padding-bottom: var(--big-padding);
}

/*h2 title*/
.title {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*
header =====
*/
.exemple-gallery h3 {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.exemple-gallery p {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-gray-color);
}

header {
  border-bottom: 1px solid var(--header-border-color);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact:hover svg,
.contact:focus svg {
  fill: var(--brand-color);
}

header .icon-enve,
header .icon-phone {
  margin: 0 10px 0 0;
  fill: var(--main-gray-color);
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation-list,
.contacts-header {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.navigation-list > li:not(:last-child),
.contacts-header > li:not(:last-child) {
  margin-right: 50px;
}

.navigation-list {
  margin-left: 93px;
}

.navigation-list > li,
.contacts-header > li {
  display: flex;
  margin-top: -32px;
  margin-bottom: -32px;
}

.navigation-list .link {
  /*display: block;*/
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  color: var(--main-color);
}

.navigation-list .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bgr-color: var(--brand-color);
}

.contacts-header .contact {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--main-gray-color);
}

header .logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation .current,
.navigation-list .link:focus,
.navigation-list .link:hover,
.contacts-header .contact:hover,
.contacts-header .contact:focus {
  color: var(--brand-color);
  outline-color: var(--brand-color);
}
.icon {
  fill: var(--main-light-color);
  /*margin: 0 10px 0 0;
  background-color: var(--footer-icons-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;*/
}

/*
index main =====
*/

.hero {
  background-color: var(--bgr-dark-color);
  width: 1600px;
  height: 600px;
  padding: 200px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: var(--hero-gradient), url(../images/heronew.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-light-color);
  width: 696px;
}

.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero .container > h1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero .container button {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

.button-order {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-style: hidden;
  border-radius: 4px;
  color: var(--main-light-color);
  background-color: var(--brand-color);
  box-shadow: var(--hero-btn-shadow);
  cursor: pointer;
  padding: 10px 32px;
  margin: auto;
}

/*hero modal*/
.backgroup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-overlay-color);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--bgr-light-color);
}
.btn-modal-close {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid var(--btn-modal-close);
  background-color: var(--main-light-color);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.btn-modal-close:hover,
.btn-modal-close:focus {
  border-color: var(--brand-color);
  color: var(--brand-color);
}

/*features*/
.features-list {
  display: flex;
  margin-left: calc(-1 * var(--list-gap));
}

.features-list > li {
  margin-left: var(--list-gap);
  flex-basis: calc(100% / 4 - 30px);
  width: 270px;
}

.features-list-icon {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--bgr-gray-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  width: 270 px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-gray-color);
}

.specialization-container {
  flex-direction: column;
  padding-bottom: var(--big-padding);
}

.specialization-list {
  /*display: flex;*/
  justify-content: space-between;
}

.specialization-list > li {
  position: relative;
  margin-left: var(--list-gap);
  flex-basis: calc(100% / 3);
}

.specialization-description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 82px;
  text-transform: uppercase;
  line-height: 1.14;
  text-align: center;
  color: var(--main-light-color);
  background-color: var(--specialization-description-color);
}

.team {
  background-color: var(--bgr-gray-color);
}

.team-list {
  display: flex;
  margin-left: calc(-1 * var(--list-gap));
}
.team-list > li {
  width: auto;
  margin-left: var(--list-gap);
  flex-basis: calc(100% / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--box-shadow);
  background: var(--main-light-color);
}

.team-list .content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  justify-content: center;
  text-align: center;
  color: var(--main-gray-color);
}
.team-list-item-icon {
  display: flex;
  justify-content: center;
}
.team-list-item-icon > li:not(:last-child) {
  margin-right: 10px;
}
.team-list-item-icon-link {
  display: flex;
}
.team-list-item-icon-link,
.content .icon {
  display: block;
  margin-top: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bgr-light-color);
  color: var(--icon-color);
  justify-content: center;
  align-items: center;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-item-icon-link:focus .icon,
.team-list-item-icon-link:hover .icon {
  background-color: var(--brand-color);
  color: var(--main-light-color);
}

/*clients*/
.clients-list {
  margin-left: calc(-1 * var(--list-gap));
  display: flex;
}

.clients-list > li {
  margin-left: var(--list-gap);
  flex-basis: calc(100% / 6);
}
.clients-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid currentColor; /*icon-color*/
  border-radius: 4px;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client {
  color: var(--icon-color);
  fill: currentColor;
}

.clients-list-item-link:hover,
.clients-list-item-link:focus,
.clients-list-item-link:hover .icon-client,
.clients-list-item-link:focus .icon-client {
  border-color: var(--brand-color);
  fill: var(--brand-color);
  outline-color: var(--brand-color);
}

/*
portfolio main =====
*/
.exemples-container {
  display: flex;
  flex-direction: column;
}

/*buttons*/
.filter-buttons {
  display: flex;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.filter-buttons > li:not(:last-child) {
  margin-right: 8px;
}

.filter-buttons button {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--bgr-gray-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  border-style: hidden;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn.current,
.filter-buttons button:hover,
.filter-buttons button:focus,
.filter-buttons button:active {
  color: var(--main-light-color);
  background-color: var(--brand-color);
  box-shadow: var(--btn-shadow);
}

.exemple-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--list-gap));
  margin-left: calc(-1 * var(--list-gap));
}

.exemple-gallery > li {
  flex-basis: calc(100% / 3);
  margin-left: var(--list-gap);
  margin-top: var(--list-gap);
  max-width: 370px;
  background-color: var(--bgr-light-color);
  border: 1px solid var(--card-border-color);
  box-sizing: border-box;
}
.exemple-gallery .link {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: var(--main-color);
  max-width: 370px;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-box {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  display: inline-block;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-light-color);
  background-color: var(--overlay-card-color);
  transform: translateY(101%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exemple-gallery .link:hover .overlay-text,
.exemple-gallery .link:focus .overlay-text {
  transform: translateY(0%);
}

.exemple-gallery .link:hover,
.exemple-gallery .link:focus {
  box-shadow: var(--portfolio-exemple-shadow);
}

.exemple-gallery .exemple-content {
  padding: 20px 24px;
  border: 1px solid var(--card-border-color);
  border-top: 0;
}

/*
footer =====
*/
.contacts {
  color: var(--main-light-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: var(--bgr-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts .container {
  display: flex;
}

.contacts-list {
  margin-top: 20px;
}
.contacts-list > li:not(:last-child) {
  margin-bottom: 9px;
}
.contacts-list .contact,
.contacts-list address {
  font-style: normal;
  text-decoration: none;
}

.contacts-list .contact {
  color: var(--footer-contacts-color);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list .contact:hover,
.contacts-list .contact:focus {
  color: var(--brand-color);
}

.contacts-icon > p {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.icon-link .icon {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--brand-color);
  background-color: var(--footer-icons-color);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon-list {
  display: flex;
  margin-left: 85px;
  line-height: 1.15;
}
.begin {
  margin-left: 85px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-icon-list > li:not(:last-child) {
  margin-right: 10px;
}
.icon-link:hover .icon,
.icon-link:focus .icon {
  background-color: var(--brand-color);
  color: var(--main-light-color);
}
