.features {
    padding-bottom: 0;
}

.features__list {
    display: flex;
    margin-left: calc(-1 * var(--list-gap));
}

.features__list>li {
    margin-left: var(--list-gap);
    flex-basis: calc(100% / 4 - 30px);
    width: 270px;
}

.features__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features__text {
    width: 270px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--main-gray-color);
}
.features__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgr-gray-color);
    border-radius: 4px;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}