.features {
//     padding-bottom: 0;
     @media screen and (min-width: 1200px) {
       padding-bottom: 0;  
     }
}





.features__list {
    @media screen and (min-width: 768px) {
      --list-item:2;
    }

    @media screen and (min-width: 1200px) {
    --list-item: 4;
    }
}



.features__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (max-width:767px) {
        text-align: center;
    }
}

.features__text {
  
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--main-gray-color);
}
.features__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgr-gray-color);
    border-radius: 4px;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}