.contacts {
    color: var(--main-light-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    background-color: var(--bgr-dark-color);
    padding-top: 60px;
    padding-bottom: 60px;

& .container {
    display: flex;
    align-items: baseline;
}

&__list {
    margin-top: 20px;
}

&__list>li:not(:last-child) {
    margin-bottom: 9px;
}

&__list .contact,
&__list address {
    font-style: normal;
    text-decoration: none;
}

&__list .contact {
    color: var(--footer-contacts-color);
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__list .contact:hover,
&__list .contact:focus {
    color: var(--brand-color);
}

&__icon>p {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

&__item:not(:last-child) {
    margin-right: 85px;
}

&__item:last-child {
    margin-left: auto;
}
&__icon {
    fill: var(--main-light-color);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
        color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

.icon__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: var(--brand-color);
    background-color: var(--footer-icons-color);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: var(--brand-color);
    color: var(--main-light-color);
    border-radius: 50%;
    width: 44px;
    height: 44px;
} 
}
.contacts-list__icon {
    display: flex;
    line-height: 1.15;
    border-radius: 50%
}

.contacts-list__icon>li:not(:last-child) {
    margin-right: 10px;
}

.begin {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}



