.hero {
    background-color: var(--bgr-dark-color);
    width: 1600px;
    height: 600px;
    padding: 200px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: var(--hero-gradient), url(../images/heronew.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-light-color);
    width: 696px;
}

.hero__container {
    text-align: center;
}

.hero__container>h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero__container button {
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
}
.button-order {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-style: hidden;
    border-radius: 4px;
    color: var(--main-light-color);
    background-color: var(--brand-color);
    box-shadow: var(--hero-btn-shadow);
    cursor: pointer;
    padding: 10px 32px;
    margin: auto;
}
