.specialization {

 @media (max-width:1199px) {
     display: none;
     
 }
}

.specialization__list {
    --list-item:3;
 
}

.specialization__item {
    position: relative;
 
}



.specification__description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 27px 82px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-light-color);
    background-color: var(--specification-description-color);
}

