.specialization {
    flex-direction: column;
    padding-bottom: var(--big-padding);

    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.specialization__list {
    display: flex;
    justify-content: space-between;
}

.specialization__list>li {
    position: relative;
    margin-left: var(--list-gap);
    flex-basis: calc(100% / 3);
}

.specialization__list>li:first-child {
    margin-left: 0;
}

.specification__description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 27px 82px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-light-color);
    background-color: var(--specialization-description-color);
}

