.team {
    background-color: var(--bgr-gray-color);

&__list {
    display: flex;
    margin-left: calc(-1 * var(--list-gap));
}

&__title {
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
    text-align: center;
}

&__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    justify-content: center;
    text-align: center;
    color: var(--main-gray-color);
}

&__item:not(:last-child) {
    margin-right: 10px;
}

&__link {
    display: flex;
    margin-top: 20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--bgr-light-color);
    fill: currentColor;
    color: var(--icon-color);
    justify-content: center;
    align-items: center;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
        color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__link:focus,
&__link:hover {
    background-color: var(--brand-color);
    color: var(--main-light-color);
}
}
.teamlist__item {
    display: flex;
    justify-content: center;
    color: var(--icon-color);
}
.teambox__item {
    width: 100%;
    margin-top: var(--list-gap);
    margin-left: var(--list-gap);
    // flex-basis: calc(100% / 4);

    @media screen and (min-width: 480px) {
        max-width: 450px;
        flex-basis: calc(100% / 1);
    }
    
    @media screen and (min-width: 768px) {
        max-width: 354px;
        flex-basis: calc(100% / 2);
    }
    
    @media screen and (min-width: 1200px) {
        max-width: 270px;
        flex-basis: calc(100% / 4);
    }
    
    border-radius: 0px 0px 4px 4px;
    box-shadow: var(--box-shadow);
    background: var(--main-light-color);
}


.teamcontent {
    padding-top: 30px;
    padding-bottom: 30px;
}