.team {
    background-color: var(--bgr-gray-color);
}

.team__list {
    display: flex;
    margin-left: calc(-1 * var(--list-gap));
}

.teambox__item {
    width: auto;
    margin-left: var(--list-gap);
    flex-basis: calc(100% / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: var(--box-shadow);
    background: var(--main-light-color);
}

.teamcontent {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__title {
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
    text-align: center;
}

.team__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    justify-content: center;
    text-align: center;
    color: var(--main-gray-color);
}

.teamlist__item {
    display: flex;
    justify-content: center;
    color: var(--icon-color);
}

.team__item:not(:last-child) {
    margin-right: 10px;
}



.team__link {
    display: flex;
    margin-top: 20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--bgr-light-color);
    fill: currentColor;
    color: var(--icon-color);
    justify-content: center;
    align-items: center;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
        color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:focus,
.team__link:hover {
    background-color: var(--brand-color);
    color: var(--main-light-color);
}