.action__button {
    display: inline-flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border-style: hidden;
    border-radius: 4px;
    color: var(--main-light-color);
    background-color: var(--brand-color);
    box-shadow: var(--action-btn-shadow);
    cursor: pointer;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: var(--accent-dark-color);
}
}