.follow-form-input {
    width: 358px;
    height: 50px;
    padding: 0 16px;
    margin-right: 12px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-contacts-color);
    background-color: transparent;
    border: 1px solid var(--follow-form-input-border-color);
    filter: drop-shadow(var(--action-btn-shadow));
    border-radius: 4px;
    transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-form-input::placeholder {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--footer-contacts-color);
}

.follow-form-input:focus {
    outline: var(--brand-color);
    border: 1px solid var(--brand-color);
}

.subscription {
    margin-left: 10px;
    fill: var(--main-light-color);
    background-image: url(./images/symbol-defs.svg#send-btn);
}