.mobile-menu-button {
    display: inline-flex;

    margin: 0px;
    // width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--main-color);
    background-color: transparent;
    transition: color var(--main-animation);
    cursor: pointer;


    &.is-open {


        position: fixed;
        z-index: 3;
        right: 25px;
        top: 22px;
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

    &-icon {
        fill: currentColor;
    }
}

.mobile-menu__icon-close {
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--main-animation), visibility var(--main-animation);
}

.mobile-menu__icon-burger {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--main-animation), visibility var(--main-animation);
}

.mobile-menu-button.is-open {
    & .mobile-menu__icon-close {
        opacity: 1;
        visibility: visible;
    }

    & .mobile-menu__icon-burger {
        opacity: 0;
        visibility: hidden;
    }
}