.submit {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: var(--main-color);
    margin-bottom: 10px;
}

.submit__title {
    justify-content: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.submit__label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-gray-color);
}

.input-wrapper {
    position: relative;
}

.submit--decoration {
    display: block;
    width: 100%;
    border: 1px solid var(--submit-element-decoration-color);
    border-radius: 4px;
    transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit--decoration:focus {
    border: 1px solid var(--brand-color);
    outline: none;
}

.submit__input {
    min-height: 40px;
    padding-left: 42px;
}

.submit__icon {
    position: absolute;
    top: 11px;
    left: 12px;
    fill: currentColor;
}

.submit__input+.submit__icon {
    color: var(--main-color);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit__input:focus+.submit__icon {
    color: var(--brand-color);
}

.submit__textarea {
    height: 120px;
    padding: 12px 16px;
    resize: none;
}
.subscription__icon {
    fill: none;
    margin-right: 7px;
    border: 2px solid var(--main-color);
    border-radius: 2px;
    outline: none;
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit__textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--submit-form-textarea-color);
}

.subscription__link {
    margin-left: 5px;
    color: var(--brand-color);
    
}
.subscription__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subscription__input:checked+.subscription__icon {
    background-color: var(--brand-color);
    fill: var(--main-light-color);
    border: none;
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .subscription__input:focus-visible+.subscription__icon {
//     outline: solid 1pt;
// }

.subscription__element {
    display: flex;
    align-items: center;
    margin: 10px 0 30px 0;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    cursor: pointer;
}

.subscription {
    margin-left: 10px;
    fill: var(--main-light-color);
    background-image: url(./images/symbol-defs.svg#send-btn);
}
.modalbtn {
    margin: auto;
}