.section {

    padding-top: var(--small-padding);
    padding-bottom: var(--small-padding);

    @media screen and (min-width: 1200px) {
        padding-top: var(--big-padding);
        padding-bottom: var(--big-padding);
    }
}